$bg-color: hsl(218, 76%, 10%);

$pale-orange: hsl(25, 100%, 94%);
$grayish-blue: hsl(220, 14%, 75%);
$text-header: hsl(178, 100%, 88%);
$text-header-opacity: hsla(178, 100%, 88%, 0.2);
$text-primary: hsl(255,100%, 100%);
$button: rgb(255, 128, 31);
$typewriterSpeed: 6s;
$typewriterCharacters: 21;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



@mixin media-md {
    @media screen and (min-width: 640px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
