@use "config" as *;

@keyframes slide {
    to {
        width: 100%;
    }
}

body {
    width: 100vw;
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: 100%;
    background: url("../src/images/background-hexagon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: brightness(60%);
    color: $text-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

button {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: 2px solid;
    border-radius: 50px;
    background-color: hsla(0, 0%, 5%, 0.2);
    backdrop-filter: blur(4px);
    color: $button;
    transition: ease 0.3s;
    font-weight: 500;
    letter-spacing: 0.15rem;

    &:hover,
    &.active {
        background-color: $button-bg-hover;
        backdrop-filter: blur(4px);
        font-weight: 500;
    }
}

.wrapper {
    width: 80%;
    max-width: 1048px;
}

section {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.fade-in {
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 0.2s ease-in, transform 0.6s ease-in;

    &.appear {
        transform: translateY(0);
        opacity: 1;
    }
}

.from-left {
    transform: translateY(20%);
    opacity: 0;
}

.from-right {
    transform: translateY(20%);
    opacity: 0;
}

.from-left,
.from-right {
    transition: opacity 0.2s ease-in, transform 0.6s ease-in;
}

.from-left.appear,
.from-right.appear {
    transform: translateY(0);
    opacity: 1;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    padding-top: 1rem;
    height: 3rem;
    display: flex;
    font-size: clamp(0.5rem, 5vh + 0.4rem, 1.25rem);
    align-items: center;
    justify-content: center;
    color: $text-header;
    // background-color: $bg-glassy;
    // backdrop-filter: blur(8px);

    .navbar {
        width: 70%;
        display: flex;
        align-items: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        color: $text-primary;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 80%;

        ul {
            height: 100%;
            display: flex;
            gap: 3rem;
            padding-right: 2rem;
        }

        li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            list-style: none;
            border-bottom: none;
            overflow: hidden;
            transition: 0.3s;

            a {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: $text-primary;
                transition: all 0.3s ease-in;

                &:hover {
                    color: $text-link;
                    transform: translateY(-3px);
                }
            }

            button {
                position: relative;
                padding: 0.5rem 2rem;
                font-size: 0.2rem;
                border: 2px solid;
                border-radius: 50px;
                background-color: $button-bg;
                backdrop-filter: blur(4px);
                color: $button;
                transition: ease 0.3s;
                font-weight: 500;

                &::after {
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $button-bg;
                    backdrop-filter: blur(4px);
                    -webkit-backdrop-filter: blur(4px);
                    position: absolute;
                }

                &:hover,
                &.active {
                    background-color: $button-bg-hover;
                    backdrop-filter: blur(4px);
                    font-weight: 500;
                }
            }
        }
    }
}

section.main {
    height: 95vh;
    color: $text-header;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main-wrapper {
        margin-left: clamp(0.5rem, 5vw + 0.5rem, 5rem);
        display: flex;
        flex-direction: row;
    }
}

.title {
    width: 40vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: $text-header;

    .welcome {
        width: 50vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
            font-size: clamp(2rem, 6vw + 0.8rem, 5rem);
            font-weight: 800;
            letter-spacing: 0.4rem;
            position: relative;
            width: max-content;
            margin-bottom: 1rem;
        }

        p {
            font-size: clamp(0.5rem, 2vw + 0.2rem, 1.25rem);
            color: $text-primary;
            text-align: start;
            margin-bottom: 1.5rem;
        }
    }
}

.card {
    background: $bg-glassy;
    border: none;
    border-radius: 5px;
    backdrop-filter: blur(4px);
}

section.about {
    width: 100%;
    min-height: 50vw;
    height: max-content;
    color: $text-primary;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .about-me {
        display: flex;
        flex-direction: column;
        width: clamp(18rem, 10vw + 15rem, 40rem);
        height: clamp(18rem, 10vw + 15rem, 40rem);

        &__content {
            padding: 1rem;

            p {
                font-size: 0.9rem;
            }
        }
    }

    .hero {
        width: clamp(18rem, 10vw + 15rem, 40rem);
        height: clamp(18rem, 10vw + 15rem, 40rem);
        overflow: hidden;
        border-radius: 5px;

        img {
            width: clamp(18rem, 10vw + 15rem, 40rem);
            height: clamp(18rem, 10vw + 15rem, 40rem);
            object-position: 0 30%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}

section.skills {
    color: $text-primary;
}

.skills {
    width: 100%;

    display: flex;
    align-items: center;

    margin-top: 5rem;
    display: flex;
    justify-content: space-between;

    &__container {
        width: 31%;
        max-width: 32%;
        height: 80vh;
        gap: 1rem;
    }

    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        height: 65vh;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: transparent;
        width: 90%;
        height: 3rem;
        margin-bottom: 1rem;
        font-size: 0.8rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 2%;
            height: 100%;
            border-left: 1px solid $text-primary;
            border-top: 1px solid $text-primary;
            border-bottom: 1px solid $text-primary;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 2%;
            height: 100%;
            border-right: 1px solid $text-primary;
            border-top: 1px solid $text-primary;
            border-bottom: 1px solid $text-primary;
        }
    }
}

section.main-projects {
    width: 100%;
    color: $text-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vw;
    height: max-content;
}

.content__title-icon svg {
    width: 22px;
    height: 22px;
    transition: all 0.3s ease-in;
    fill: $text-primary;
    
    &:hover,
    &:active {
        fill: $text-link;
        transform: translateY(-3px);
        
    }
}

.socials svg {
    width: 22px;
    height: 22px;
    transition: all 0.3s ease-in;
    fill: $text-primary;
   

    &:hover,
    &:active {
        fill: $text-link;
    }
}

.main-projects {
    margin: 6rem 0;

    .title {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 6rem;
    }

    .project__container {
        width: 80%;
        height: max-content;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        position: relative;

        .project__content {
            width: 50%;
            padding: 2rem;

            .content__title {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;

                &-icons {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    gap: 0.6rem;
                    align-content: center;

                    &-icon {
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        transition: ease 0.3s;

                        svg {
                            fill: $text-primary;

                            &:hover {
                                fill: $text-link;
                            }
                        }
                    }
                }
            }

            .content__main-text {
                font-size: 0.8rem;
                margin-bottom: 0.8rem;
            }

            .content__tags {
                display: flex;
                gap: 0.6rem;

                .tag {
                    padding: 0.2rem 1rem;
                    border: 1px solid $text-primary;
                    border-radius: 5px;
                    font-size: 0.6rem;
                }
            }
        }

        .project__preview {
            border: 2px solid $preview-border;
            background-color: $preview-bg;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }

        &::before,
        &::after {
            height: 50px;
            width: 50px;
            left: 1.5rem;
            top: 0;
            content: "";
            position: absolute;
        }
        &::before {
            transform: translateY(-50%);
            background-color: $bg-glassy;
            border-radius: 50%;
            border: none;
        }
        &::after {
            background-image: url("../src/images/hexagon.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
            transform: translateY(-50%);
        }
    }
}

.hidden {
    display: none;
}

section.other-projects {
    width: 100%;
    color: $text-primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.other-projects {
    margin-top: 6rem;
    width: 100%;
    min-height: 70vw;
    height: max-content;

    .title {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 6rem;

        h3 {
            font-size: clamp(0.5rem, 2vw + 0.2rem, 1.8rem);
        }
    }

    .projects__wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5%;
    }

    .project__container {
        width: 30vh;
        height: 30vh;
        margin-bottom: 3rem;
        position: relative;

        .project__content {
            padding: 1rem;

            .content__title {
                margin-bottom: 0.6rem;

                &-icons {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    gap: 0.6rem;

                    &-icon {
                        transition: ease 0.3s;
                    }
                }
                &-text {
                    width: 100%;
                    padding: 0.5rem 0;
                }
            }

            .content__main-text {
                font-size: 0.8rem;
                margin-bottom: 1rem;
            }

            .content__tags {
                display: flex;
                flex-wrap: wrap;
                gap: 0.6rem;

                .tag {
                    padding: 0.2rem;
                    border: 1px solid $text-primary;
                    border-radius: 5px;
                    font-size: 0.6rem;
                }
            }
        }
        &::before,
        &::after {
            height: 50px;
            width: 50px;

            left: 1.5rem;
            top: 0;

            content: "";
            position: absolute;
        }
        &::before {
            transform: translateY(-50%);
            background-color: $bg-glassy;
            border-radius: 50%;
            border: none;
        }
        &::after {
            background-image: url("../src/images/hexagon.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
            transform: translateY(-50%);
        }
    }
}

section.contact {
    color: $text-primary;
}

.contact {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        position: relative;
        width: 50%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        font-size: 0.8rem;

        &-wrapper {
            margin-top: 10%;
            margin-right: 10%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            gap: 1rem;
        }

        &-text {
            text-align: justify;
            text-justify: inter-word;
            margin-bottom: 1rem;
        }

        &-address,
        &-tel,
        &-mail {
            display: flex;
            gap: 1.5rem;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 1000%;
            background: $bg-glassy;
            border: none;
            border-radius: 5px;
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            z-index: -1;
        }
    }
    &__form {
        height: 70%;
        width: 50%;
        display: flex;
        font-size: 0.8rem;

        .container {
            width: 70%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-beetween;
            align-items: flex-end;
        }

        .form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 10%;
            gap: 1.5rem;
        }

        .form-group {
            width: 80%;
            position: relative;

            & label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0.5rem;
                color: $text-header;
                font-weight: 400;
                font-size: 0.7rem;
                letter-spacing: 0.1rem;
                pointer-events: none;
                transition: 0.5s;
            }

            & input:focus,
            & textarea:focus {
                border: 2px solid $text-link;
            }

            & input:focus + label,
            & input:valid + label,
            & textarea:focus + label,
            & textarea:valid + label {
                top: -1.5rem;
                font-size: 0.9rem;
                padding: 0;
                left: 0;
                color: $text-link;
            }
        }

        input {
            height: 2.2rem;
            border-radius: 5px;
            width: 100%;
            backdrop-filter: blur(4px);
            color: $text-primary;
            border: 1px solid $text-primary;
            background-color: $bg-glassy;
        }

        textarea {
            height: 8rem;
            border-radius: 5px;
            width: 100%;
            color: $text-primary;
            border: 1px solid $text-primary;
            background-color: $bg-glassy;
        }

        input:focus,
        textarea:focus {
            outline: transparent;
        }

        .contact-btn {
            transition: ease 0.3s;
            margin-bottom: 10%;
            outline: transparent;

            &:hover,
            &.active {
                background-color: $button-bg-hover;
                backdrop-filter: blur(4px);
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}

footer {
    font-size: 0.8rem;
    width: 95%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid $text-primary;
    color: $text-primary;

    .socials svg {
        width: 22px;
        height: 22px;
        transition: all 0.3s ease-in;
        fill: $text-primary;
       

        &:hover,
        &:active {
            fill: $text-link;
            transform: translateY(-3px);
        }
    }
    .mail a {
        color: $text-primary;
        transition: all 0.3s ease-in;

        &:hover {
            color: $text-link;
       
        }
    }
}
